nav {
  width: 100%;
  font-size: 3rem;
  color: rgb(134, 134, 134);
  margin-bottom: 50px;
  background-color: #f3f3f3;
  background-image: url('https://wallpaper-gallery.net/images/super-smash-bros-logo-wallpaper/super-smash-bros-logo-wallpaper-7.jpg');
  background-size:     cover;                      
  background-repeat:   no-repeat;
  background-position: center center; 
  width: 100%;
  height: auto; 

  font-family: 'Sanchez', serif, cursive;
}

a {
  color: #e60000;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}

nav li {
  display: inline-block;
  padding: 26px 0;
  width: 25%;
  text-align: center;
}

ul {
  padding-left: 0px;
}